In [33]:
import pandas as pd
pd.set_option('display.max_rows', 500)
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model, svm, tree
from sklearn.ensemble import RandomForestRegressor
from  sklearn import metrics
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [35]:
data = pd.read_csv("cell2cell-v1.csv")

In [5]:
data

,Unnamed: 0,X,customer,traintest,churn,churndep,revenue,mou,recchrge,directas,...,retaccpt,newcelly,newcelln,refer,incmiss,income,mcycle,setprcm,setprc,retcall
0,1,1,1000002,0,0,NaN,57.492500,482.75,37.424999,0.2475,...,0,0,1,0,0,5,0,0,149.989990,0
1,2,2,1000006,0,0,NaN,82.275002,1312.25,75.000000,1.2375,...,0,1,0,0,0,6,0,0,9.989998,0
2,3,3,1000010,0,0,NaN,31.662500,25.50,29.990000,0.2475,...,0,0,1,0,0,9,0,0,29.989990,0
3,4,4,1000011,0,0,NaN,62.127499,97.50,65.985001,2.4750,...,0,1,0,0,0,6,0,0,29.989990,0
4,5,5,1000014,0,0,NaN,25.225000,2.50,25.000000,0.0000,...,0,1,0,0,0,7,0,0,29.989990,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71042,71043,71043,1099987,1,1,1.0,117.489998,384.00,29.990000,0.0000,...,0,0,0,0,0,2,0,0,29.989990,0
71043,71044,71044,1099988,1,1,1.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,6,0,1,0.000000,0
71044,71045,71045,1099990,1,1,1.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,6,0,0,59.989990,0
71045,71046,71046,1099992,1,1,1.0,NaN,NaN,NaN,NaN,...,0,1,0,0,0,8,0,1,0.000000,0
71046,71047,71047,1099995,1,1,1.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,7,0,0,79.989990,0

In [36]:
data.dropna(subset=["revenue"])

,Unnamed: 0,X,customer,traintest,churn,churndep,revenue,mou,recchrge,directas,...,retaccpt,newcelly,newcelln,refer,incmiss,income,mcycle,setprcm,setprc,retcall
0,1,1,1000002,0,0,NaN,57.492500,482.750000,37.424999,0.2475,...,0,0,1,0,0,5,0,0,149.989990,0
1,2,2,1000006,0,0,NaN,82.275002,1312.250000,75.000000,1.2375,...,0,1,0,0,0,6,0,0,9.989998,0
2,3,3,1000010,0,0,NaN,31.662500,25.500000,29.990000,0.2475,...,0,0,1,0,0,9,0,0,29.989990,0
3,4,4,1000011,0,0,NaN,62.127499,97.500000,65.985001,2.4750,...,0,1,0,0,0,6,0,0,29.989990,0
4,5,5,1000014,0,0,NaN,25.225000,2.500000,25.000000,0.0000,...,0,1,0,0,0,7,0,0,29.989990,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71035,71036,71036,1099939,1,1,1.0,57.669998,534.666687,44.990002,0.0000,...,0,0,0,0,0,2,0,0,29.989990,0
71037,71038,71038,1099962,1,1,1.0,30.237499,63.250000,29.990000,0.2475,...,0,0,0,0,0,5,0,1,0.000000,0
71040,71041,71041,1099969,1,1,1.0,33.630001,28.000000,29.990000,0.0000,...,0,0,1,0,1,0,0,0,29.989990,0
71041,71042,71042,1099985,1,1,1.0,85.150002,815.000000,87.989998,0.0000,...,0,0,0,0,1,0,0,0,39.989990,0
71042,71043,71043,1099987,1,1,1.0,117.489998,384.000000,29.990000,0.0000,...,0,0,0,0,0,2,0,0,29.989990,0

In [37]:
def prepare_data():
    data = pd.read_csv("cell2cell-v1.csv")
    data = data.drop(["Unnamed: 0",	"X",	"customer",	"traintest", "churndep"], axis=1)
    
    data = data.dropna(subset=["revenue"])
    x = data.drop('revenue', axis=1)
    
    y = data['revenue']

    

    x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size=0.33, random_state=42)
    return x_train, x_test, y_train, y_test

In [38]:
def scale_data(x_train, x_test, scaler=StandardScaler):

    scaler = scaler()
    scaler.fit(x_train)

    x_train_scaled = scaler.transform(x_train)
    x_train_scaled = pd.DataFrame(x_train_scaled, index=x_train.index, columns=x_train.columns)

    x_test_scaled = scaler.transform(x_test)
    x_test_scaled = pd.DataFrame(x_test_scaled, index=x_test.index, columns=x_test.columns)

    x_train_scaled.fillna(x_train_scaled.mean(), inplace=True)
    x_test_scaled.fillna(x_test_scaled.mean(), inplace=True)

    return x_train_scaled, x_test_scaled

In [39]:
def evaluate_regression(y_true_train, y_pred_train, y_true_test, y_pred_test, model_name=""):   
    return pd.DataFrame.from_records([[
                                       metrics.mean_squared_error(y_true_train, y_pred_train),
                                       metrics.mean_absolute_error(y_true_train, y_pred_train),
                                       metrics.max_error(y_true_train, y_pred_train),
                                       metrics.r2_score(y_true_train, y_pred_train), 
                                      metrics.mean_squared_error(y_true_test, y_pred_test),
                                       metrics.mean_absolute_error(y_true_test, y_pred_test),
                                       metrics.max_error(y_true_test, y_pred_test),
                                       metrics.r2_score(y_true_test, y_pred_test)]], 
                                     
                                     index=[model_name], 
                                     columns=['mean_squared_error_train', 'mean_absolute_error_train', 'max_error_train', "r2_score_train",
                                              'mean_squared_error_test', 'mean_absolute_error_test', 'max_error_test', "r2_score_test"])

In [40]:
x_train, x_test, y_train, y_test = prepare_data()
x_train, x_test = scale_data(x_train, x_test, scaler=StandardScaler)

In [ ]:
results = pd.DataFrame()
for model in [linear_model.LinearRegression(), 
            linear_model.RidgeCV(),
            linear_model.LassoCV(),
            svm.SVR(kernel="linear"),
            svm.SVR(kernel="rbf"),
            svm.SVR(kernel="poly"),
            tree.DecisionTreeRegressor()]:
    model.fit(x_train, y_train)

    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    results = results.append(evaluate_regression(y_train, y_train_pred, y_test, y_test_pred,
                        model_name=model))

In [ ]:
results.sort_values("RMSE_test")

In [ ]:
results.sort_values("RMSE_test").iloc[0]["RMSE_test"]

# (i) variable interaction

In [ ]:
data.corr()

In [ ]:
data.withcorr()